@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* 
   * PRIMARY COLORS
   * ---------------
   * these classes should be set on the root element to define the primary color
   * This way the primary color can be exchanged dynamically
   */

  .primary-color-red {
    --color-primary: theme("colors.red.400");
  }

  .primary-color-orange {
    --color-primary: theme("colors.orange.400");
  }

  .primary-color-yellow {
    --color-primary: theme("colors.yellow.400");
  }

  .primary-color-green {
    --color-primary: theme("colors.green.400");
  }

  .primary-color-teal {
    --color-primary: theme("colors.teal.400");
  }

  .primary-color-cyan {
    --color-primary: theme("colors.cyan.400");
  }

  .primary-color-blue {
    --color-primary: theme("colors.blue.400");
  }

  .primary-color-purple {
    --color-primary: theme("colors.purple.400");
  }

  .primary-color-pink {
    --color-primary: theme("colors.pink.400");
  }

  /* 
   * PRIMARY COLOR UTILITIES
   * ------------------------
   * Those are the basic color utilities that are routed to using 
   * the current primary color
   */

  .shadow-primary {
    box-shadow: 0 25px 50px -12px var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }

  .ring-primary {
    --tw-ring-color: var(--color-primary);
  }

  /*
   * COLOR SHADOWS
   * --------------
   * Shadows in all the primary colors 
   */

  .shadow-red {
    box-shadow: 0 25px 50px -12px theme("colors.red.400");
  }

  .shadow-orange {
    box-shadow: 0 25px 50px -12px theme("colors.orange.400");
  }

  .shadow-yellow {
    box-shadow: 0 25px 50px -12px theme("colors.yellow.400");
  }

  .shadow-green {
    box-shadow: 0 25px 50px -12px theme("colors.green.400");
  }

  .shadow-teal {
    box-shadow: 0 25px 50px -12px theme("colors.teal.400");
  }

  .shadow-cyan {
    box-shadow: 0 25px 50px -12px theme("colors.cyan.400");
  }

  .shadow-blue {
    box-shadow: 0 25px 50px -12px theme("colors.blue.400");
  }

  .shadow-purple {
    box-shadow: 0 25px 50px -12px theme("colors.purple.400");
  }

  .shadow-pink {
    box-shadow: 0 25px 50px -12px theme("colors.pink.400");
  }
}
